# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.env
venv/
env/

# Django
*.sqlite3
/backend/media/
/backend/staticfiles/
/backend/static/

# Node
node_modules/
/frontend/dist/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
